.section-about
    margin-top: 8rem
    padding-bottom: 5rem

.section-adventure
    padding: 21.6rem 0
    background: $gradien-light , url(../img/section-adventure.jpg) center / cover no-repeat
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%)

.section-tour
    padding-top: 15rem
    margin-bottom: 8rem

.section-feedBack
    position: relative
    padding: 8rem
.section-book
    padding: 10rem
    background: linear-gradient(90deg, $color-brown-light, $color-black)

.footer
    background-color: #333333
    padding: 8rem
    text-align: center
    &__logo
        display: block
        margin: 0 auto
        width: 12rem
        height: 15rem
        margin-bottom: 5rem
    &__list
        display: flex
        justify-content: center
        gap: 5rem
        text-transform: uppercase
        color: $color-white
        font-weight: 200
    &__item 
        transition: all .5s
    &__item:hover 
            transform: skewY(8deg)
