
$color-grey: #777777
$color-brown-light: #BA8554
$color-brown-dark: #A14F03
$gradien-light: linear-gradient(90deg, rgba(#BA8554, 0.7) 0.03%, rgba(#010101, 0.7) 99.94%)
$color-white: #fff
$color-black: #000
$box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3)